body {
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit, Arial, Helvetica, sans-serif;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.qr-code {
    max-width: 375px;
    width: 100%;
    border-radius: 15px;
}

.main-content {
    max-width: 375px;
    width: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 25px;
    text-align: center;
}

h1 {
    color: hsl(218, 44%, 22%);
    

}

p {
    color: hsl(216, 15%, 48%);
    padding: 20px;
}